# Ignore unnecessary build files and directories
target/
build/
dist/

# Ignore version control and IDE-related files
.git
.gitignore
.idea/
.vscode/

# Ignore environment files
.env

# Ignore Maven wrapper files
.mvn/